<app-header></app-header>
<div class="container" style="min-height: 350px;">
    <app-usuario-log></app-usuario-log>
    <div class="row text-center mt-3">
        <h3> Alta de Comité o Comisión Vigente</h3>
    </div>
    <div class="row">
        <form >
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Nombre del Comité o Comisión:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="Nombre...">
                </div>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Acrónimo:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="Acrónimo...">
                </div>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Asesora o Asesor a cargo:</label>
                <div class="col-sm-4">
                    <select class="form-control" name="" id="">
                        <option value=""selected>Selecciona una opción...</option>
                        <option value="">Jesus Daniel Valenzuela Zazueta</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Integrantes:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="Integrantes...">
                </div>
            </div>
            
            <div class="row mt-3 justify-content-end">
                <button class=" col-sm-1 btn btn-primary me-5" (click)="guardarComision()">Guardar</button>
                <button class=" col-sm-1 btn btn-primary" (click)="router.navigate(['/alta']);">Regresar</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>