<app-header></app-header>
<div class="container" style="min-height: 400px;">
    <app-usuario-log></app-usuario-log>

    <div class="row text-center mt-3">
        <h3> Registro de una Sesión de un Comité o Comisión</h3>
    </div>

    <div class="row">
        <form action="">
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Nombre del Comité o Comisión:</label>
                <div class="col-sm-4">
                    <select class="form-control" name="" id="">
                        <option value="">Selecciona...</option>
                        <option value="">Comité</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Acrónimo:</label>
                <label class="col-sm-4" for="">CPC</label>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Asesora o Asesor a cargo:</label>
                <label class="col-sm-4" for="">Nombre...</label>

            </div>
            
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Integrantes:</label>
                <label class="col-sm-4 " for=""><br>Nombres...</label>

            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Numero de la Sesión</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="Numero...">
                </div>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Tipo de Sesión:</label>
                <div class="col-sm-4">
                    <select class="form-control" name="" id="">
                        <option value="">Selecciona...</option>
                        <option value="1">Ordinaria</option>
                        <option value="2">Extraordinaria</option>
                        <option value="3">Urgente</option>
                        <option value="4">Solemne</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Fecha de la sesión:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="date" placeholder="Numero...">
                </div>
            </div>
            
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Hora de la sesión:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="time" placeholder="Numero...">
                </div>
            </div>
            <div class="row mt-3 d-flex align-items-center justify-content-center form-group">
                <label class="col-sm-1 text-center" for="">Documentos del orden del día:</label>
                <label class="col-sm-2 text-center" for="" (click)="fileSelect.click()">Documento <i class="far fa-file" style="font-size: 20px;"></i></label>
                <input class="form-control" style="display: none" #fileSelect id="input_file" type="file" multiple = "multiple" placeholder="Numero...">
                <label class="col-sm-1 text-center" for="">Link:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="" id="">
                </div>

            </div>
            <div class="row mt-3 justify-content-center form-group">
                <label class="col-sm-3 text-justify" for="">Modalidad:</label>
                <div class="col-sm-4">
                    <select class="form-control" name="" id="">
                        <option value="">Selecciona...</option>
                        <option value="1">Presencial</option>
                        <option value="2">Virtual</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <button type="submit" class="btn btn-success col-sm-1 "(click)="registrarSesion()">Registrar</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>